<div class="cart-container">
    <table class="cart-table">
        <thead>
            <th class="item-image"></th>
            <th class="item-name">Name</th>
            <th class="item-price">Price</th>
            <th class="item-delete"></th>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart">
                <td><app-default-image [src]="item.image"></app-default-image></td>
                <td class="item-name">{{item.name}}</td>
                <td class="item-price">{{item.price}}</td>
                <td class="item-delete"><div class="remove-item" (click)="removeFromCart(item)">Remove</div></td>
            </tr>
        </tbody>
    </table>
</div>