<div class="cart-container">
    <div class="total-price-container">
        <label class="total-price-title">Total price: </label>
        <span calss="total-price-value">{{cartService.totalPrice}}</span>
    </div>
    <table class="cart-table">
        <thead>
            <th class="item-image"></th>
            <th class="item-name">Name</th>
            <th class="item-price">Price</th>
            <th class="item-delete"></th>
        </thead>
        <tbody class="cart-items custom-scrollbar">
            <tr *ngFor="let item of cartService.cart">
                <td class="item-image">
                    <app-default-image [src]="item.image"></app-default-image>
                </td>
                <td class="item-name">{{item.name}}</td>
                <td class="item-price">{{item.price}}</td>
                <td class="item-delete">
                    <div class="remove-item" (click)="removeFromCart(item)">Remove</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>