.cart-container {
    position: absolute;
    top: 15%;
    bottom: 85%;
    max-height: 800px;
    overflow-y: auto;
}

.cart-table {
    border: 1px solid lightgray;
    border-radius: 8px;
}

th {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td {
    align-self: center;
}

.item-name {
    width: 70%;
    padding-left: 5px;
    min-width: 600px;
}

.item-price {
    width: 10%;
}

.item-delete {
    width: 70px;
    min-width: 70px;
}

.item-price {
    padding-left: 5px;
}

.remove-item {
    background-color: #d50808;
    border-radius: 15px;
    cursor: pointer;
    width: 50px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}