<div class="autocomplete-container">
    <input type="text" list="items-list" [(ngModel)]="filterText" class="autocomplete-input"
        placeholder="Search for products">
    <div *ngIf="filterText" class="items-list-container">
        <div *ngFor="let item of items; let i = index" [appFocused]="i === focusedIndex"
            [ngClass]="{'focused-item': focusedIndex === i  }" (mouseover)="focusedIndex = i" (click)="onSelect(item)">
            <div class="list-item">
            <img [src]="item.image" class="item-image">
            <label class="item-name">{{item.name}}</label>
        </div>
        </div>
    </div>
    <div *ngIf="!items?.length && filterText">
        No items to show
    </div>
</div>