<div class="autocomplete-container">
    <input type="text" list="items-list" [(ngModel)]="filterText" (change)="onSelect($event)" class="autocomplete-input"
        placeholder="Search for products">
    <div *ngIf="filterText" class="items-list-container">
        <div *ngFor="let item of items; let i=index" [appFocused]="i===focusedIndex"
            [ngClass]="{'focused-item': focusedIndex === i  }">
            {{item.name}}
        </div>
    </div>
    <div *ngIf="!items?.length && filterText">
        No items to show
    </div>
</div>