.autocomplete-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
}

.autocomplete-input {
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 5px;
    height: 25px;
}

.items-list-container {
    height: max-content;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    border: 1px solid #bcb7e3;
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    width: 30%;
    top: 17% !important;
}

.hidden {
    display: none;
}

.focused-item {
    background-color: lightgray;
}

.list-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.item-name {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}