<div class="autocomplete-container">
    <input type="text" list="items-list" [(ngModel)]="filterText" class="autocomplete-input"
        placeholder="Search for products" (focusout)="resetSearch()">
    <div *ngIf="filterText" class="items-list-container custom-scrollbar">
        <div *ngFor="let item of items; let i = index" [appFocused]="i === focusedIndex"
            [ngClass]="{'focused-item': focusedIndex === i }"
            (mouseover)="focusedIndex = i" (click)="onSelect(item)">
            <div class="list-item">
                <app-default-image [src]="item.image"></app-default-image>
                <label class="item-name">{{item.name}}</label>
            </div>
        </div>
    </div>
</div>